# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
tabix_gffreader
bgzfreader
samreader
vcfwriter
bug_minimal
sam_iter
csam_iter
vcf
dhtslib-test-unittest

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# debugging
*.dSYM/

# test output
output.vcf
test.bam

# vi/vim
*.swp

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
